
{% extends 'base.html.twig' %}
{% block title %}Equips{% endblock %}
{% block stylesheets %}
{{ parent() }}
 <link href="{{ asset('Green/assets/css/estilsInici.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
{{ parent() }}
{%endblock%}
{% block body %}
<body>
<h1 id="titolInici">Projecte Symphony Equips 2n DAW </h1>

<p id="paragrafInici">Inicio programa gestió d'equips del projecte.<br/>
IES Lluis Simarro 
Curs 22/23<br/>
</p>
<div id="paragrafInici"><h2 id="titol-llistat">Lista d'equips</h2></div>
{% if equips %}
    <div id="paragrafInici2">
    {% for equip in equips %}
     <div class="llistat-equips2">
        <a href ="{{ path('dades_equip') }}/{{equip.getId}}"><img class="imatgeEquip" width="95%" src="{{asset(equip.getImatge)}}"/></br> {{equip.getNom}} (nota:{{equip.getNota}}) <a class="lapiz" href ="{{ path('edicio_equip') }}/{{equip.getId}}"><img class="lapiz" src="{{ asset('Green/assets/img/decoracio/lapiz.png') }}" /></a></a>
    </div>
    {% endfor %}
</div> 
{% else %}
<div id="paragrafInici"><h2 id="titol-llistat">No hi han equips</h2></div>
{% endif %}

</body>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
