<h1 id="titolEquip">Dades equip {{codi}}</h1>
{% if equip %}

<div id="paragrafEquip">
Projecte 2n DAW <br/>
<h2 id="titol-imatge">Imatge Equip</h2>
<img class="imatgeEquip" src="{{asset(equip.getImatge)}}"/> <!-- No utilitze la virgurilla perque he ficat la ruta relativa directament en la variable contactes.foto,
                                                                pero sino seria src="{{asset('Green/assets/img/equips'~equip.getImatge)}} !-->
<div class="contactes">
    Codi: {{codi}}
</div>
<div class="contactes">
    Nom: {{equip.getNom}}
</div>
<div class="contactes">
    Cicle: {{equip.getCicle}}
</div>
<div class="contactes">
    Curs: {{equip.getCurs}}
</div>
<div class="contactes">
    Nota: {{equip.getNota}}
</div>

</div>

{% else %}
<div id="paragrafEquip">
<img class="imatgeEquip" src="{{ asset('Green/assets/img/roger.jpg') }}" />

</div>
<div id="paragrafEquip">
<h2 id="no_trobat">Equip no trobat</h2>
</div>
{% endif %}
