{% extends 'base.html.twig' %}
{% block title %}Equips{% endblock %}
{% block stylesheets %}
{{ parent() }}
 <link href="{{ asset('Green/assets/css/estilsEquip.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
{{ parent() }}
{%endblock%}
{% block body %}
    {{ include ('dades_equip.html.twig', {'contactes': contactes, 'codi':codi }) }}
    <div id="paragrafEquip"><a class="nav-link" href ="{{ path('inici') }}">Tornar a l'inici</a></div>
{%endblock%}

{% block footer %}
{{ parent() }}
{%endblock%}
