
{% extends 'base.html.twig' %}
{% block title %}Equips{% endblock %}
{% block stylesheets %}
{{ parent() }}
 <link href="{{ asset('Green/assets/css/estilsInici.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
{{ parent() }}
{%endblock%}
{% block body %}
{% if equips %}
<body>
<h1 id="titolInici">Projecte Symphony Equips 2n DAW </h1>
<p id="paragrafInici">Inicio programa gestió d'equips del projecte.<br/>
IES Lluis Simarro 
Curs 22/23<br/>
<a href ="{{ path('dades_equip') }}/4">
<img class="imatgeInici" src="{{ asset('Green/assets/img/Stormtrooper.jpg') }}"/></a>
</p>
<div id="paragrafInici"><h2 id="titol-llistat">Lista d'equips</h2></div>

    <div id="paragrafInici">
    {% for equip in equips %}
     <div class="llistat-equips">
        <a href ="{{ path('dades_equip') }}/{{equip.getId}}"> {{equip.getNom}}(nota:{{equip.getNota}})</a>
    </div>
    {% endfor %}
</div> 

</body>
{% else %}
   <body>
<h1 id="titolInici">Projecte Symphony Equips 2n DAW </h1>
<p id="paragrafInici">Inicio programa gestió d'equips del projecte.<br/>
IES Lluis Simarro 
Curs 22/23<br/>
<a href ="{{ path('dades_equip') }}/4">
<img class="imatgeInici" src="{{ asset('Green/assets/img/Stormtrooper.jpg') }}"/></a>
</p>
<div id="paragrafInici"><h2 id="titol-llistat">Lista d'equips</h2></div>
<div id="paragrafInici"><h2 id="titol-llistat">No s'han trobat equips</h2></div>
</body>
{% endif %}
{%endblock%}

{% block footer %}
{{ parent() }}
{%endblock%}
