
{% extends 'base.html.twig' %}
{% block title %}Equips{% endblock %}
{% block stylesheets %}
{{ parent() }}
 <link href="{{ asset('Green/assets/css/estilsInici.css') }}" rel="stylesheet">
{% endblock %}
{% block header %}
{{ parent() }}
{%endblock%}
{% block body %}
<body>
<h1 id="titolInici">Projecte Symphony Equips 2n DAW </h1>

<p id="paragrafInici">Inicio programa gestió d'equips del projecte.<br/>
IES Lluis Simarro 
Curs 22/23<br/>
<a href ="{{ path('dades_equip') }}/4">
<img class="imatgeInici" src="{{ asset('Green/assets/img/Stormtrooper.jpg') }}"/></a>
</p>
<div id="paragrafInici"><h2 id="titol-llistat">Lista d'equips</h2></div>

<div id="paragrafInici">
    <div class="nou_membre">
        <a class="lapiz" href ="{{ path('nou_membre') }}"><img class="r2d2" src="{{ asset('Green/assets/img/decoracio/r2d2.jpg') }}"/> Nou membre d'equip </a></li> 
    </div>
</div>
    <div id="paragrafInici">
    <!--<div class="llistat-equips">
        <a href ="{{ path('dades_equip') }}">Equip Roig</a>
    </div>
     <div class="llistat-equips">
        <a href ="{{ path('dades_equip') }}/2"> Equip Blau</a>
    </div>
     <div class="llistat-equips">
         <a href ="{{ path('dades_equip') }}/3 ">Equip Groc</a>
    </div>
    <div class="llistat-equips">
        <a href ="{{ path('dades_equip') }}/4"> Equip Negre</a>
    </div>-->
    {% for equip in equips %}
     <div class="llistat-equips">
        <a href ="{{ path('dades_equip') }}/{{equip.getId}}"> {{equip.getNom}} (nota:{{equip.getNota}}) <a class="lapiz" href ="{{ path('edicio_equip') }}/{{equip.getId}}"><img class="lapiz" src="{{ asset('Green/assets/img/decoracio/lapiz.png') }}" /></a></a>
    </div>
    {% endfor %}
</div> 

</body>
{%endblock%}

{% block footer %}
{{ parent() }}
{%endblock%}
